<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Computer service</display-name>
	<!-- Spring Contexts -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/application-context.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>com.excilys.computerdatabase.webservice.Hello</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Root</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    	<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
		   	<param-value>com.excilys.computerdatabase.webservice</param-value>
    	</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

</web-app>