<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">


	<http auto-config="true">
	
		<intercept-url pattern="/css/**" access="permitAll" />
		<intercept-url pattern="/fonts/**" access="permitAll" />
		<intercept-url pattern="/js/**" access="permitAll" />	
		<intercept-url pattern="/global/view/customLogin" access="permitAll" />
		<intercept-url pattern="/global/view/logout" access="permitAll" />
		
        <!-- CONNECTED -->    
        <intercept-url pattern="/global/view/home" access="isAuthenticated()" />
        <!-- USER -->    
        <intercept-url pattern="/" access="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" />
		<intercept-url pattern="/computer/view/dashboard" access="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" />
        <!-- ADMIN -->   
        <intercept-url pattern="/computer/crud/**" access="hasAnyRole('ROLE_ADMIN')" />
        <intercept-url pattern="/computer/view/**" access="hasAnyRole('ROLE_ADMIN')" />
        <!-- SUPER-ADMIN -->   
        <intercept-url pattern="/user/view/dashboard**" access="hasAnyRole('ROLE_SUPER_ADMIN')" />
        <intercept-url pattern="/user/crud/**" access="hasAnyRole('ROLE_SUPER_ADMIN')" />

		<intercept-url pattern="/**" access="isAuthenticated()" />

		<form-login login-page="/global/view/customLogin"
					login-processing-url="/j_spring_security_check"
					username-parameter="username"
					password-parameter="password"
					authentication-failure-url="/global/view/customLogin?auth=false" />
	</http>
  
	<authentication-manager>
      <authentication-provider user-service-ref="userDetailsService">
        <password-encoder hash="bcrypt" />
      </authentication-provider>
	</authentication-manager>
</beans:beans>