<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

	<http create-session="stateless" entry-point-ref="digestEntryPoint">
		<intercept-url pattern="/css/**" access="permitAll" />
		<intercept-url pattern="/fonts/**" access="permitAll" />
		<intercept-url pattern="/js/**" access="permitAll" />	
		<intercept-url pattern="/customLogin" access="permitAll" />
		<intercept-url pattern="/logout" access="permitAll" />
		
		<intercept-url pattern="/dashboard**" access="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" />
		<intercept-url pattern="/editComputer**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/addComputer**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/computer/**" access="hasRole('ROLE_ADMIN')" />
		
		<intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')" />

		<form-login login-page="/customLogin"
					login-processing-url="/j_spring_security_check"
					username-parameter="username"
					password-parameter="password"
					authentication-failure-url="/customLogin?auth=false" />
		<http-basic />
		<custom-filter ref="digestFilter" after="BASIC_AUTH_FILTER" />
		<logout invalidate-session="true" logout-success-url="/customLogin" />
	</http>

	<beans:bean id="digestFilter"
		class="org.springframework.security.web.authentication.www.DigestAuthenticationFilter">
		<beans:property name="userDetailsService" ref="myUserDetailsService" />
		<beans:property name="authenticationEntryPoint" ref="digestEntryPoint" />
	</beans:bean>

	<beans:bean id="digestEntryPoint"
		class="org.springframework.security.web.authentication.www.DigestAuthenticationEntryPoint">
		<beans:property name="realmName"
			value="Contacts Realm via Digest Authentication" />
		<beans:property name="key" value="acegi" />
	</beans:bean>

	<beans:bean id="myUserDetailsService"
		class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
		<beans:property name="dataSource" ref="dataSource" />
	</beans:bean>

</beans:beans>