<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">


	<http auto-config="true">
	
		<intercept-url pattern="/css/**" access="permitAll" />
		<intercept-url pattern="/fonts/**" access="permitAll" />
		<intercept-url pattern="/js/**" access="permitAll" />	
		<intercept-url pattern="/customLogin" access="permitAll" />
		<intercept-url pattern="/logout" access="permitAll" />
		
		<intercept-url pattern="/dashboard**" access="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" />
		<intercept-url pattern="/editComputer**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/addComputer**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/computer/**" access="hasRole('ROLE_ADMIN')" />
		
		<intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')" />

		<form-login login-page="/customLogin"
					login-processing-url="/j_spring_security_check"
					username-parameter="username"
					password-parameter="password"
					authentication-failure-url="/customLogin?auth=false" />

	</http>

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"/>
		</authentication-provider>
	</authentication-manager>

</beans:beans>